.catBox {
    background-color: #fff4ee;
    width: 358px;
    height: 438;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 100px;
    z-index: -5;
}

.cattributes {
    padding: 25px;
    background-color: #fff4ee;
    border-radius: 10px;
}

.dnaBox {
    position: absolute;
    left:22%;
    bottom: 5px;

}